<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.mapper.party.PartyBranchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="me.zhengjie.entity.party.PartyBranch">
    <result column="id" property="id" />
    <result column="create_user" property="createUser" />
    <result column="create_time" property="createTime" />
    <result column="update_user" property="updateUser" />
    <result column="update_time" property="updateTime" />
    <result column="status" property="status" />
    <result column="is_deleted" property="isDeleted" />
        <result column="party_committee_id" property="partyCommitteeId" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="phone_number" property="phoneNumber" />
        <result column="secretary" property="secretary" />
        <result column="gender" property="gender" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user,
        create_time,
        update_user,
        update_time,
        status,
        is_deleted,
        party_committee_id, name, jurisdiction_id, address, phone_number, secretary, gender
    </sql>

</mapper>
