<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.mapper.party.PartyLearnCenterEnrollMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="me.zhengjie.entity.party.PartyLearnCenterEnroll">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="learn_center_id" property="learnCenterId" />
    <result column="user_id" property="userId" />
    <result column="user_name" property="userName" />
    <result column="user_phone_number" property="userPhoneNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        learn_center_id, user_id, user_name, user_phone_number
    </sql>
    
    
    <select id="learnAnalysis"
		resultType="me.zhengjie.dto.StatisticalAnalysisDto">
        SELECT  user_committee_name AS name,COUNT(DISTINCT(user_id)) AS num 
        FROM party_learn_center_enroll
        <where>
	         <if test="partyCommitteeId !=null and partyCommitteeId !=0">
	             and user_committee_id=#{partyCommitteeId}
	         </if>
        </where>
        GROUP BY user_committee_name 
	</select>
	





</mapper>
