<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="me.zhengjie.mapper.party.PartyLessonsMemberMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="me.zhengjie.entity.party.PartyLessonsMember">
		<result column="id" property="id" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<result column="status" property="status" />
		<result column="is_deleted" property="isDeleted" />
		<result column="party_lessons_id" property="partyLessonsId" />
		<result column="party_member_id" property="partyMemberId" />
		<result column="party_member_name" property="partyMemberName" />
		<result column="member_head_sculpture"
			property="memberHeadSculpture" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id,
		create_user,
		create_time,
		update_user,
		update_time,
		status,
		is_deleted,
		party_lessons_id, party_member_id, party_member_name, member_head_sculpture
	</sql>

	<delete id="deletByLessonsId">

		delete from party_lessons_member where party_lessons_id=#{partyLessonsId}

	</delete>

</mapper>
