<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <!--<plugins>-->
        <!--&lt;!&ndash; SQL 执行性能分析，开发环境使用，线上不推荐。 &ndash;&gt;-->
        <!--<plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor">-->
            <!--<property name="maxTime" value="100" />-->
            <!--&lt;!&ndash;SQL是否格式化 默认false&ndash;&gt;-->
            <!--<property name="format" value="true" />-->
        <!--</plugin>-->
        <!--&lt;!&ndash; 分页插件配置 &ndash;&gt;-->
        <!--&lt;!&ndash;<plugin interceptor="com.baomidou.mybatisplus.plugins.PaginationInterceptor"></plugin>&ndash;&gt;-->
    <!--</plugins>-->
</configuration>