<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.mapper.TEarlywarningMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="me.zhengjie.entity.TEarlywarning">
        <id column="id" property="id" />
        <id column="earlywarning_content" property="earlywarningContent" />
        <id column="earlywarning_type" property="earlywarningType" />
        <id column="keypersonnel_type" property="keypersonnelType" />
        <id column="keypersonnel_name" property="keypersonnelName" />
        <id column="community" property="community" />
        <id column="earlywarning_source" property="earlywarningSource" />
        <id column="processing_status" property="processingStatus" />
        <id column="is_delete" property="isDelete" />
        <id column="create_id" property="createId" />
        <id column="create_time" property="createTime" />
        <id column="update_id" property="updateId" />
        <id column="update_time" property="updateTime" />
        <id column="delete_id" property="deleteId" />
        <id column="delete_time" property="deleteTime" />
        <id column="is_show" property="isShow" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="TEarlywarning">
        id, earlywarning_content, earlywarning_type, keypersonnel_type, keypersonnel_name, community, earlywarning_source, processing_status, is_delete, create_id, create_time, update_id, update_time, delete_id, delete_time, is_show
    </sql>

    <select id="selectTEarlywarningPageList" resultType="me.zhengjie.entity.TEarlywarning">
        SELECT t_earlywarning.*, t1.name as communityName, t2.label AS earlywarningSourceName
        FROM t_earlywarning
        left JOIN grid_dept t1 ON  t_earlywarning.community = t1.id
        left JOIN dict_detail t2 ON  t_earlywarning.earlywarning_source = t2.value and t2.dict_id = 124
	    ${ew.customSqlSegment}
    </select>

</mapper>
