<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.mapper.TUnittypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="me.zhengjie.entity.TUnittype">
        <id column="id" property="id" />
        <id column="name" property="name" />
        <id column="level" property="level" />
        <id column="code" property="code" />
        <id column="sort_code" property="sortCode" />
        <id column="pid" property="pid" />
        <id column="is_delete" property="isDelete" />
        <id column="create_id" property="createId" />
        <id column="create_time" property="createTime" />
        <id column="update_id" property="updateId" />
        <id column="update_time" property="updateTime" />
        <id column="delete_id" property="deleteId" />
        <id column="delete_time" property="deleteTime" />
        <id column="is_label" property="isLabel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="TUnittype">
        id, name, level, code, sort_code, pid, is_delete, create_id, create_time, update_id, update_time, delete_id, delete_time, is_label
    </sql>

    <!--    查询单位 树-->
    <select id="loadNotPage" resultType="me.zhengjie.entity.TUnittype">
        SELECT d.id, d.name, pd.name parentName, d.level, d.code, d.sort_code, d.pid, d.create_time, d.is_label, d.name label
        FROM t_unitType d
        LEFT JOIN t_unitType pd ON pd.id = d.pid
        <where>
            d.pid = '0'
            <if test="query.name != null and query.name != ''">
                AND d.name like CONCAT('%',#{query.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="query.startDate != null and query.endDate != null">
                AND d.create_time BETWEEN #{query.startDate} and #{query.endDate}
            </if>
            and d.is_delete ='0'
        </where>
        ORDER BY
        sort_code
    </select>
    <!--  查询单位  -->
    <select id="selectDeptTreeByParentId" resultType="me.zhengjie.entity.TUnittype">
        SELECT d.id,d.name,pd.name parentName,d.level,d.code,d.sort_code,d.pid,d.create_time, d.is_label, d.name label
        FROM t_unitType d
        LEFT JOIN t_unitType pd ON pd.id = d.pid
        <where>
            <if test="parentId != null and parentId != ''">
                AND d.pid = #{parentId}
            </if>
            and d.is_delete ='0'
        </where>
        ORDER BY
        sort_code
    </select>

</mapper>
